:root {
  --background: #f0f2f5;
  --red: #e52e4d;
  --green: #33cc95;
  --blue: #5429cc;
  --blue-light: #6933ff;
  --text-title: #363f5f;
  --text-body: #969cb3;
  --background: #f0f2f5;
  --shape: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background) !important;
  -webkit-font-smoothing: antialiased !important;
}

body, input, textarea, button {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600 !important;
}

p {
  margin-bottom: 0 !important;
}

button {
  cursor: pointer;
}

[disable] {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}

.transaction-modal-content {
  width: 100%;
  max-width: 576px;
  background: var(--background);
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}

.transaction-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  transition: filter 0.2s;
}
.transaction-modal-close:hover {
  filter: brightness(0.8);
}
