.dashboard-main {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

.summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: -10rem;
}
.summary div {
  background: var(--shape);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  color: var(--text-title);
}
.summary div header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summary div strong {
  display: block;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}
.summary div.highlight-brackground {
  background: var(--green);
  color: #FFF;
}

.transactions {
  margin-top: 4rem;
}
.transactions table {
  width: 100%;
  border-spacing: 0 0.5rem !important;
  border-collapse: inherit !important;
}
.transactions table th {
  color: var(--text-body);
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
  line-height: 1.5rem;
}
.transactions table td {
  padding: 1rem 2rem;
  border: 0;
  background: var(--shape);
  color: var(--text-body);
}
.transactions table td:first-child {
  color: var(--text-title);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.transactions table td:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.transactions table td.deposit {
  color: var(--green);
}
.transactions table td.withdraw {
  color: var(--red);
}
